/* FAQ  css*/
.faq.container {
  display:flex;
  justify-content: center;
  height: 100vh;
  margin:auto;
}

.faq .accordionContainer {
  width: 80%;
  margin:auto;
}

.faq .icon {
  display: flex;
  align-items: center;
  transition: transform 1s ease;
}
/* FAQ  css*/